
.stars {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	transform: rotate(-45deg);
}

.star {
	--star-color: var(--primary-color);
	--star-tail-length: 6em;
	--star-tail-height: 2px;
	--star-width: calc(var(--star-tail-length) / 6);
	--fall-duration: 9s;
	--tail-fade-duration: var(--fall-duration);
	position: absolute;
	top: var(--top-offset);
	left: 0;
	width: var(--star-tail-length);
	height: var(--star-tail-height);
	color: var(--star-color);
	background: linear-gradient(45deg, currentColor, transparent);
	border-radius: 50%;
	filter: drop-shadow(0 0 6px currentColor);
	transform: translate3d(104em, 0, 0);
	animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
	.star {
		animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
	}
}

.star:nth-child(1) {
	--star-tail-length: 6.42em;
	--top-offset: 18.39vh;
	--fall-duration: 9.649s;
	--fall-delay: 0s;
}

.star:nth-child(2) {
	--star-tail-length: 5.44em;
	--top-offset: 57.61vh;
	--fall-duration: 11.525s;
	--fall-delay: 0s;
}

.star:nth-child(3) {
	--star-tail-length: 7.43em;
	--top-offset: 51.16vh;
	--fall-duration: 9.681s;
	--fall-delay: 0s;
}

.star:nth-child(4) {
	--star-tail-length: 6.15em;
	--top-offset: 45.54vh;
	--fall-duration: 9.367s;
	--fall-delay: 0s;
}

.star:nth-child(5) {
	--star-tail-length: 5.73em;
	--top-offset: 43.55vh;
	--fall-duration: 10.502s;
	--fall-delay: 0s;
}

.star:nth-child(6) {
	--star-tail-length: 7.42em;
	--top-offset: 87.72vh;
	--fall-duration: 8.869s;
	--fall-delay: 0s;
}

.star:nth-child(7) {
	--star-tail-length: 6.93em;
	--top-offset: 57vh;
	--fall-duration: 9.198s;
	--fall-delay: 0s;
}

.star:nth-child(8) {
	--star-tail-length: 6.34em;
	--top-offset: 51.61vh;
	--fall-duration: 9.525s;
	--fall-delay: 0s;
}

.star:nth-child(9) {
	--star-tail-length: 7.23em;
	--top-offset: 40.75vh;
	--fall-duration: 10.874s;
	--fall-delay: 0s;
}

.star:nth-child(10) {
	--star-tail-length: 5.19em;
	--top-offset: 24.16vh;
	--fall-duration: 11.801s;
	--fall-delay: 0s;
}

.star::before, .star::after {
	position: absolute;
	content: '';
	top: 0;
	left: calc(var(--star-width) / -2);
	width: var(--star-width);
	height: 100%;
	background: linear-gradient(45deg, transparent, currentColor, transparent);
	border-radius: inherit;
	animation: blink 2s linear infinite;
}

.star::before {
	transform: rotate(45deg);
}

.star::after {
	transform: rotate(-45deg);
}

@keyframes fall {
	to {
		transform: translate3d(-30em, 0, 0);
	}
}

@keyframes tail-fade {
	0%, 50% {
		width: var(--star-tail-length);
		opacity: 1;
	}

	70%, 80% {
		width: 0;
		opacity: 0.4;
	}

	100% {
		width: 0;
		opacity: 0;
	}
}

@keyframes blink {
	50% {
		opacity: 0.6;
	}
}